* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}
.welcome-section{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/imgs/background1.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.welcome-section .content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.welcome-section .content-wrap .fly-in-text {
    list-style: none;
}
.welcome-section .content-wrap .fly-in-text li {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 120px;

    display: inline-block;
    margin-right: 30px;
    font-size: 5em;
    color: #FEFF00;
    opacity: 1;
    transition: all 2s ease;
}
.welcome-section .content-wrap .fly-in-text li:last-child {
    margin-right: 0;
}
.welcome-section .content-wrap .enter-text{
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 28px;
    opacity: 1;
    transition: all 1s ease 1.5s;
    width: 60%;
}
.welcome-section .content-wrap .enter-button{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    opacity: 1;
    transition: all 1s ease 2s;

    padding: 11px 0;

    width: 230px;
    height: 50px;
    border: rgba(255,255,255,0.3) 1px solid;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.welcome-section.content-hidden .content-wrap .fly-in-text li{  opacity: 0;  }

.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1){  transform: translate3d(-300px, 0, 0);  }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2){  transform: translate3d(-200px, 0, 0);  }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(3){  transform: translate3d(-100px, 0, 0);  }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(4){  transform: translate3d(0, 0, 0);  }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(5){  transform: translate3d(100px, 0, 0);  }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(6){  transform: translate3d(200px, 0, 0);  }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(7){  transform: translate3d(300px, 0, 0);  }

.welcome-section.content-hidden .content-wrap .enter-text{  opacity: 0; transform: translate3d(0, -30px, 0);  }
.welcome-section.content-hidden .content-wrap .enter-button{  opacity: 0; transform: translate3d(0, -70px, 0);  }

@media (min-width: 800px) {
    .welcome-section .content-wrap .fly-in-text li { font-size: 10em; }
    .welcome-section .content-wrap .enter-button { font-size: 1.5em; }
}

/* Animação do container de skills */
.content{
    overflow: hidden;
    width: 100%;


    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    color: #1D1D1D;
}
.content .container-skills{
    overflow: hidden;
    height: 40px;
}
.content .container-skills .list{
    margin-top: 0;
    text-align: center;
    list-style: none;
    padding: 0;

    -webkit-animation-name: change;
    -webkit-animation-duration: 6s !important;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 6s !important;
    animation-iteration-count: infinite;
}
.content .container-skills .list .item{
    width: 100%;
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-o-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-moz-keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}