/* Workpage Style */
@import './style-workpage.css';
@import './animations.css';


/*****************************
    Initial block of text
*****************************/
.block-text{
    margin-top: 50px;
}
.block-text h1{
    margin: 0;
    color: #1D1D1D;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.block-text p{
    margin-top: 100px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.block-text .arrow-container{
    margin-top: 100px;
}
.block-text img{
    height: 17px;
    padding-right: 10px;
}

/*  Skills wrapper */
.skills-wrapper{
    margin-top: 100px;
}
.skills-wrapper h2{
    font-size: 13px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 0;
}

/* Work Card Container */
.work-card-container{
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 0 15px;
}
.work-card-container .photo-container{
    position: relative;
    background-image: url("../assets/imgs/work-card-1.png");
    height: 200px;
    background-size: cover;
    padding: 15px;
}
#photo-impacting{
    background-image: url("../assets/imgs/work-card-2.png");
}
#photo-impordance{
    background-image: url("../assets/imgs/work-card-3.png");
}
#photo-comida{
    background-image: url("../assets/imgs/work-card-1.png");
}
.work-card-container .photo-container .bar-container{
    position: absolute;
    bottom: 15px;
}
.work-card-container .photo-container img{
    height: 8px;
    width: 115px;
    display: flex;
    margin-top: 7px;
}
.work-card-container .description-container{
    margin-top: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1D1D1D;
    line-height: 25px;
}
.work-card-container .description-container p{
    margin-bottom: 5px;
}
.work-card-container .description-container span{
    font-size: 13px;
    color: #BABABA;
    font-weight: 400;
}
.work-card-container .description-container a{
    font-size: 10px;
    font-family: 'Space Mono', monospace;
    color: #1D1D1D;
    text-decoration: underline;
}
.block-text img{
    height: 17px;
    padding-right: 10px;
}
/* Lets work block */
.work-block{
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: #232323;
    line-height: 25px;
    padding-bottom: 130px;
}
.work-block span{
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    letter-spacing: 5px;
}
.work-block a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #232323;
}
.contact-button{
    margin-top: 30px;
    padding: 12px 0;
    font-size: 16px;
    height: 50px;
    width: 170px;
    border: rgba(35,35,35,0.3) 1px solid;
    width: 100%;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .block-text{
        margin-top: 225px;
    }
    .block-text h1{
        font-size: 50px;
        letter-spacing: 15px;
    }
    .block-text p{
        margin: 200px 0;
        font-size: 17px;
        line-height: 35px;
    }
    .block-text img{
        height: 20px;
        padding-right: 10px;
    }
    /*  Skills wrapper */
    .skills-wrapper{
        margin: 250px 0 100px;
    }
    .skills-wrapper h2{
        font-size: 18px;
        letter-spacing: 5px;
        margin-bottom: 0;
    }

    /* Skills rollout */
    .content{
        overflow: hidden;
        width: 100%;
        font-family: 'Archivo Black', sans-serif;
        font-size: 55px;
        text-transform: uppercase;
        letter-spacing: 6px;
        line-height: 40px;
        color: #1D1D1D;
    }
    .content .container-skills{
        overflow: hidden;
        height: 80px;
    }
    .content .container-skills .list{
        margin-top: 0;
        text-align: center;
        list-style: none;
        padding: 0;

        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .content .container-skills .list .item{
        width: 100%;
        line-height: 85px;
        margin: 0;
    }

    /* Images container */
    .work-card-container{
        margin-top: 200px;
        margin-bottom: 0;
        padding: 0;
    }
    .work-card-container .photo-container{
        height: 695px; /* col-12 835px*/
        padding: 30px;
    }
    .work-card-container .photo-container .bar-container{
        bottom: 30px;
    }
    .work-card-container .photo-container img{
        height: 14px;
        width: 210px;
        margin-top: 10px;
    }
    .work-card-container .description-container{
        margin-top: 30px;
        font-size: 40px;
        line-height: 42px;
    }
    .work-card-container .description-container p{
        margin-bottom: 15px;
    }
    .work-card-container .description-container span{
        font-size: 20px;
    }
    .work-card-container .description-container a{
        font-size: 15px;
    }

    /* Lets work block */
    .work-block{
        margin-top: 150px;
        font-size: 55px;
        letter-spacing: 6px;
        line-height: 55px;
    }
    .work-block span{
        font-size: 18px;
        letter-spacing: 5px;
    }
    .contact-button{
        margin: auto;
        margin-top: 30px;
        padding: 3px;
        font-size: 16px;
        height: 60px;
        width: 35%;
    }
}