body, html {
    height: 100%;
    overflow-x: hidden;
}
.destkop{
display: none;
}

.animsition{
    height: 100%;
}
/* Close Button*/
.close-button-container{
    position: fixed;
    z-index: 2000;
    padding: 15px 15px 0;
    width: 100%;
}
.close-button-container .close-button{
    background-color: #FEFF00;
    width: 30px;
    height: 30px;
    float: right;
}
.close-button-container .close-button i {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: #1D1D1D;
}

/* Hero Image*/
.work-photo{
    /* The image used */
    background-image: url("../assets/imgs/comida_gratis/work-card-1.png");

    /* Set a specific height */
    height: 230px !important;

    /* Position and center the image to scale nicely on all screens */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Work Details*/
.work-name{
    margin: 50px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1D1D1D;
    line-height: 25px;
}
.work-name p{
    margin: 0;
}
.work-name span {
    font-size: 13px;
    color: #BABABA;
    font-weight: 400;
}
/* Work description */
.work-description{
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.work-description p{
    margin: 0;
    margin-bottom: 25px;
}
.work-description a{
    font-size: 10px;
    font-family: 'Space Mono', monospace;
    color: #1D1D1D;
    text-decoration: underline;
}
/* Work photo */
.work-wrapper{
    position: relative;
    margin-top: 70px;
}
.work-wrapper img{
    width: 100%;
}
.work-wrapper .background{
    position: absolute;
    background-color: #1D1D1D;
    height: 85%;
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);

    bottom: 0;
    z-index: -1;
}
.work-wrapper .text-center{
    padding: 50px 0 90px;
}
.work-wrapper a{
    font-size: 13px;
    font-family: 'Space Mono', monospace;
    color: #1D1D1D;
    text-decoration: underline;
}
/*  Next Work */
.next-work{
    margin-top: 70px;
    text-align: center;
    padding-bottom: 70px;
}
.next-work a{
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
    letter-spacing: 2.5px;
    text-align: center;
    color: #1D1D1D;
    text-transform: uppercase;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .destkop{
        display: block;
    }
    .close-button-container .close-button{
        width: 45px;
        height: 45px;
    }
    .close-button-container .close-button i{
        font-size: 35px;
        padding: 5px;
    }
    .work-photo{
        height: 85% !important;
    }
    .arrow-container-workpage{
        margin-top: 75px;
    }
    .arrow-container-workpage img{
        height: 20px;
        padding-right: 10px;
    }
    /* Work Details*/
    .work-name{
        margin: 200px 0 100px;
        font-size: 55px;
        line-height: 65px;
    }
    .work-name span {
        font-size: 25px;
    }

    .work-description{
        font-size: 17px;
        line-height: 38px;
    }
    .work-description p{
        margin-bottom: 25px;
    }
    .work-description a{
        font-size: 13px;
    }

    .work-wrapper{
        margin-top: 200px;
    }
    .work-wrapper .background{
        width: 200%;
    }
    .work-wrapper .text-center{
        padding: 120px 0 140px;
    }

    .work-wrapper a{
        font-size: 15px;
        font-family: 'Space Mono', monospace;
        color: #1D1D1D;
        text-decoration: underline;
    }


    .work-mockup-container{
        position: relative;
        height: 2150px;
        margin-top: 70px;
    }
    .next-work{
        margin-top: 120px;
        padding-bottom: 120px;
    }
    .next-work a{
        font-size: 50px;
    }
}